<!DOCTYPE html>
<style>
     button {
          width: 10%;
          background-color: #4CAF50;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          text-align: center;
        }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tokopididi Lite</title>
</head>
<body>
    <h1>Tokopididi Lite</h1>
    <a href="/login"><button>Login</button></a>
    <a href="/registration"><button>Registration</button></a>
</body>
</html>