<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tokopididi Lite</title>
</head>
<body>
    <h1>Tokopididi Lite</h1>
    <a href="/login"><button>Login</button></a>
    <a href="/registration"><button>Registration</button></a>
</body>
</html>