<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <a href="/registration"><button>Registration</button></a>
    <% if(success) {%>
        <p style="color: green;">Success registration <%= success %></p><br><br>
    <%} %>

</body>
</html>